.git/
.github/
.ralph/
.research/
node_modules/
**/node_modules/
**/target/
**/.cargo/
**/deps/
**/.fingerprint/
**/build/
**/*.rlib
**/*.rmeta
**/*.dylib
**/*.o
**/*.d
**/*.timestamp
**/*.tgz
**/*.log
**/.DS_Store
**/package-lock.json
