[package]
name = "pi_nes_kitty_shm"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
libc = "0.2"
napi = { version = "2", features = ["napi8"] }
napi-derive = "2"
